/* css.js will parse out this at declaration and use it as the traits path. */
@traits('common/css/traits/');

/* :local informs css.js that this css declaration is a module which should be imported and is not global. */
/* :traits informs css.js that attributes inside of this module should be looked up through traits imports. */
:local(.application:traits) {
  flex: flex;
  flexChild: grow;
  color: primary;
}