.is-hidden {
  // Use important to ensure that hidden always takes precedence.
  display: none !important;
}

// It's important to use a class and not the disabled attribute because tooltips stop working on disabled elements.
.is-disabled {
  color: @dark--tertiary !important;
  cursor: default !important;

  *,
  *:before,
  *:after {
    color: @dark--tertiary !important;
    cursor: default !important;
  }
}

body {
  background-color: red;
}